@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-from: #6366f1; /* indigo-500 */
  --brand-to: #ec4899; /* fuchsia-500 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --brand-from: #4f46e5; /* indigo-600 */
    --brand-to: #db2777; /* fuchsia-600 */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image: radial-gradient(at top left, var(--brand-from) 0%, transparent 60%),
    radial-gradient(at bottom right, var(--brand-to) 0%, transparent 60%);
  font-family: "Inter", Helvetica, Arial, sans-serif;
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
